.users .head h1{
    font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 26.82px;
text-align: left;

}

.users .head button{
    font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
color: #fff;
background-color: #FEAF00;
border: none;
border-radius: 4px;
padding: 10px 35px;
}
.table i{
    color: #FEAF00;
    cursor: pointer;
}