

<section   >
     
        <div class="sidebar  text-center">
            <h4>UMS</h4>
            <div class="data">
                <img [src]="image" alt="">
                <h1>{{userName}}</h1>
                <span>Admin</span>
            </div>
            <nav class="nav flex-column">
                
                <a class="nav-link" routerLink="/home"   >   <i class="fa-solid fa-house mx-2"></i>
                    Home
                </a>
                <a class="nav-link" routerLink="users"  routerLinkActive="active"   >    <i class="fa-solid fa-users  mx-2"></i>
                    Users
                </a>
                <a class="nav-link" routerLink="Add-user"  routerLinkActive="active"  >  <i class="fa-solid fa-user-plus  mx-2"></i>
                    Add User
                </a>
                <a class="nav-link" routerLink="profile" routerLinkActive="active"  >  <i class="fa-regular fa-user  mx-2"></i>
                    Profile
                </a>
               
              </nav>
            
            <button (click)="logOut()" >Logout
                <i class="fa-solid fa-right-from-bracket mx-2"></i>
            </button>
        </div>
 
 </section>